* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

h1{
  font-size: 4.85em;
  text-decoration: underline;
 text-align: center;
 margin: 20px;
 padding: 20px;
 
  
}

h2{
  margin: 15px;
  font-size: 3.2em;
  text-decoration: underline;
  font-weight:bolder;
   text-align: center;
    }
h3{
  font-size: 1.35em;
  margin-left: 25px;
   padding-top: 30px;
  text-align: left;
}
.firsttext{
  color:white;
  text-align: justify;
  padding: 0 50px 0 50px;
  font-size: 2em;
}
p {
  font-size: large;
  padding: 30px;
  margin-top: -6px;
  line-height: 1.2;
  color:white;
}
table {
  width: 100%;
  table-layout: fixed;
  border: 2px solid white;
  
}
.esoPentaklu{
  border: solid white 2px;
  border-radius: 5px;
 margin: 5px;
 padding: 5px;
}
.kralovna{
  border: solid white 2px;
  border-radius: 5px;
 margin: 5px;
 padding: 5px;
}
.fortune{
  border: solid white 2px;
  border-radius: 5px;
 margin: 5px;
 padding: 5px;
}
.esoPoharu{
  border: solid white 2px;
  border-radius: 5px;
 margin: 5px;
 padding: 5px;
}
.paze{
  border: solid white 2px;
  border-radius: 5px;
 margin: 5px;
 padding: 5px;
}
.tower2{
  border: solid white 2px;
  border-radius: 5px;
 margin: 5px;
 padding: 5px;
}
.oneWand{
  border: solid white 5px;
border-radius: 5px;
margin: 10px;
padding: 10px;
}
.steamDeath{
  border: solid white 5px;
border-radius: 5px;
margin: 10px;
padding: 10px;

}

.tower{
  border: solid white 5px;
  border-radius: 5px;
 margin: 10px;
 padding: 10px;

}

.world{
  border: solid white 5px;
  border-radius: 5px;
 margin: 10px;
 padding: 10px;
}
.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  margin-top: 20px;
}


.card {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
   height: 70px;
   text-align: center;  
  border-radius: 10px;
  padding: 20px;
  background-color: red;
  
}

.card h3 {
  font-size: 1.2em;
  text-decoration: underline;
  margin: -35px;
  text-transform: uppercase;
   text-align: center;
   padding-bottom:15px;
   
}

.card img {
  width: 100%; /* Přizpůsobení obrázků šířce okna */
height: auto; /* Automatické zachování poměru stran */
position: absolute; /* Absolutní pozice pro přesnější umístění */
top: 50%; /* Umístění obrázku ve středu stránky */
left: 50%; /* Umístění obrázku ve středu stránky */
transform: translate(-50%, -40%); /* Posunutí obrázku do středu */
z-index: 999; /* Vyšší z-index hodnota pro zobrazení přes obsah nad footerem */
border: solid 5px beige;
      border-radius: 5px;
}
/* Media query pro uspořádání tří karet vedle sebe s konkrétními rozměry */
@media screen and (min-width: 768px) {
  .card-container {
      flex-wrap: wrap;
  }

  .card {
      width: 30%; /* Šířka každé karty, aby se vešly tři vedle sebe */
      margin-right: 10px; /* Odsazení mezi kartami */
      margin-bottom: 10px; /* Odsazení pod karty */
      border: solid 5px beige;
      border-radius: 5px;
  }

}
footer {
  position: sticky;
  box-sizing: border-box;
  text-align: center;
  height: 100px;
  width: 100%;
  color: white;
  background: #414042;
  padding: 50px;
  clip-path: polygon(0 30px, 100% , 100%, 0 30px);   
  border: solid white 5px;
  border-radius: 5px;
  bottom:auto;
  z-index: -1;
  top: 0;
}

header{
  height: 100px;
  width: 100%;
  border: solid white 5px;
  border-radius: 5px;
  background: black;
  display: flex;
    justify-content: center;
  z-index: 1;
  top: 0;
}
.newReading {
  
   border-radius: 10px;
   padding: 10px 10px;
   background: beige;
   position: relative;
   text-align: center;
    
}

.oneCardButton-container{
  text-align: center; /* Vodorovné zarovnání na střed */
  margin-top: 20px; /* Volitelný horní okraj pro oddělení od horní části stránky */
}
  
  .oneCardButton {
    position: relative; /* Umožňuje umístit text absolutně vzhledem k tlačítku */
    display: inline-block; /* Tlačítko bude ve tvaru inline-bloku */
    width: 200px; /* Šířka tlačítka */
    height: 50px; /* Výška tlačítka */
    background-image: url('imagesTAROT/3 karty.jpg'); /* URL obrázku na pozadí */
    background-size: cover; /* Obrázek se roztáhne na celou plochu tlačítka */
    background-position: center; /* Obrázek bude vycentrován */
    border: solid 5px wheat;
    border-radius: 5px;
    color: red; /* Barva textu */
    font-size: 2em; /* Velikost textu */
    cursor: pointer; /* Změna kurzoru na ruku */
    overflow: hidden; /* Skryje přetečení obsahu */
  }
  
  .oneCardButton-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    white-space: nowrap;
  }
.threeCardsButton-container{
  text-align: center; /* Vodorovné zarovnání na střed */
  margin-top: 20px; /* Volitelný horní okraj pro oddělení od horní části stránky */
}
  
  .threeCardsButton {
    position: relative; /* Umožňuje umístit text absolutně vzhledem k tlačítku */
    display: inline-block; /* Tlačítko bude ve tvaru inline-bloku */
    width: 200px; /* Šířka tlačítka */
    height: 50px; /* Výška tlačítka */
    background-image: url('imagesTAROT/3 karty.jpg'); /* URL obrázku na pozadí */
    background-size: cover; /* Obrázek se roztáhne na celou plochu tlačítka */
    background-position: center; /* Obrázek bude vycentrován */
    border: solid 5px wheat;
    border-radius: 5px;
    color: red; /* Barva textu */
    font-size: 2em; /* Velikost textu */
    cursor: pointer; /* Změna kurzoru na ruku */
    overflow: hidden; /* Skryje přetečení obsahu */
  }
  
  .threeCardsButton-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    white-space: nowrap;
  }

  
.fourCardsButton-container{
  text-align: center; /* Vodorovné zarovnání na střed */
  margin-top: -10px; /* Volitelný horní okraj pro oddělení od horní části stránky */
}
  
  .fourCardsButton {
    position: relative; /* Umožňuje umístit text absolutně vzhledem k tlačítku */
    display: inline-block; /* Tlačítko bude ve tvaru inline-bloku */
    width: 200px; /* Šířka tlačítka */
    height: 50px; /* Výška tlačítka */
    background-image: url('imagesTAROT/3 karty.jpg'); /* URL obrázku na pozadí */
    background-size: cover; /* Obrázek se roztáhne na celou plochu tlačítka */
    background-position: center; /* Obrázek bude vycentrován */
    border: solid 5px wheat;
    border-radius: 5px;
    color: red; /* Barva textu */
    font-size: 2em; /* Velikost textu */
    cursor: pointer; /* Změna kurzoru na ruku */
    overflow: hidden; /* Skryje přetečení obsahu */
  }
  
  .fourCardsButton-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    white-space: nowrap;
  }
  
nav ul {
  list-style-type: none;
  display: flex;
  height: 100%;
}

nav ul a {
   
  padding: 0px 40px;
   font-size: 1em;
  border-radius: 10px;
  display:flex;
   
}  
.multiline-button-tarot{
  padding:  -1px;
  font-size: 1em;
 background-color: red;
 border: 5px solid black;
 border-radius: 10px;
 height: 80px;
 margin: 5px;
}
.multiline-button-arkana {
  position: relative;
   border: 5px solid  orange;
  font-size: 1em;
  border-radius: 10px;
   margin: 10px ;
    

  /* Zde přidat styly pro tlačítko podle vašich potřeb */
}
.multiline-button-metody{
  position: relative;
   
 border: 5px solid  orange;
 font-size: 1em;
 border-radius: 10px;
  margin: 10px ;
}

.multiline-button span {
  display: block;
  
}
